@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

.heading {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 1.5rem; /* 24px */
}

.body-text {
	font-family: 'Inter', sans-serif;
	font-size: 1rem; /* 16px */
}

.body-text-regular {
	font-weight: 400;
}

.body-text-medium {
	font-weight: 500;
}

.body-text-semibold {
	font-weight: 600;
}

/* Add some styles for body*/
body {
	min-height: 100vh;
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
}

header {
	height: 240px;
	display: flex;
	justify-content: space-between;
	background: url('../images/background-image.png') no-repeat;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 720px) {

}
